<nav class="navbar navbar-expand-sm">

    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/machines">Vending Machines Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" routerLink="/machines">Machines</a>
            <a class="nav-link" routerLink="/sale-api">Sale</a>
            <a class="nav-link" routerLink="/finances">Finances</a>
            <a class="nav-link" routerLink="/warehouse">Warehouse</a>
            <a class="nav-link" routerLink="/employees">Employees</a>
            <a class="nav-link" routerLink="/self-info">Me</a>
            <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
          </div>
        </div>
    </div>
</nav>
