<!--<div *ngIf="machineInfo">-->
<!--    <h2>-->
<!--        Machine : {{machineInfo.machine.id}}-->
<!--    </h2>-->
<!--    <label for="location">Location: </label>-->
<!--    <span id="location">{{machineInfo.machine.location}}</span>-->
<!--    <label for="dispenserAmount">Dispenser amount: </label>-->
<!--    <span id="dispenserAmount">{{machineInfo.machine.dispenserAmount}}</span>-->
<!--    <label for="dispenserDepth">Dispenser depth: </label>-->
<!--    <span id="dispenserDepth">{{machineInfo.machine.dispenserDepth}}</span>-->
<!--</div>-->
