<app-navbar-owner/>

<div class="container" >
    <h2>New Batch</h2>

    <div>

        <div class="row m-3">
            <div class="col">
                <label for="Date">Date</label>
            </div>
            <div class="col">
                <input id="Date" #location type="datetime-local" class="form-control">
            </div>
        </div>
        <h4>Add item to batch</h4>
        <div class="row">
            <div class="col-auto me-auto">
                <label for="Item">Item</label>
            </div>
            <div class="col">
                <select id="Item" #Item required class="form-control">
                    <option *ngFor="let item of allItems" [value]="item">{{item.name}}</option>
                </select>
            </div>

            <div class="col-auto me-auto">
                <label for="ItemPrice">ItemPrice</label>
            </div>
            <div class="col">
                <input id="ItemPrice" #ItemPrice type="number" class="form-control">
            </div>

            <div class="col-auto me-auto">
                <label for="ItemAmount">Item Amount</label>
            </div>
            <div class="col">
                <input id="ItemAmount" #ItemAmount type="number" class="form-control">
            </div>
        </div>
        <button class="btn btn-success" >Add</button>

    </div>

    <div>
        <h4>Items</h4>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Item Price</th>
                <th scope="col">Item Amount</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>item</td>
                <td>date</td>
                <td>5</td>
                <td class="">
                    <button class="btn btn-danger m-1" >Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success m-1">
            Submit
        </button>
        <button type="button" (click)="goBack()" class="btn btn-primary m-1">Cancel</button>
    </div>

</div>
