<div class="container text-center max-width: 500px">
    <div class="row gx-5 gy-5" >
      <div class="col">
       <a class="p-3" style="color: inherit;
       text-decoration: inherit;" href="#about_us">About us</a>
      </div>
      <div class="col">
        <a class="p-3 " style="color: inherit;
        text-decoration: inherit;">Contact</a>
      </div>
      <div class="col">
        <a class="p-3 " style="color: inherit;
        text-decoration: inherit;">Carrier</a>
      </div>
    </div>
    
    <!-- <div class="vr" style="height: 30px;"></div> -->
    <img src="https://i.pinimg.com/originals/2e/9b/fd/2e9bfddda704dd23c85677608a01c6cf.png" class="img-fluid align-center" alt="...">
    
    <!-- <div class="vr" style="height: 30px;"></div> -->
    <p id="about_us" style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id enim ut enim luctus porttitor. Sed tempor tincidunt purus elementum lobortis. Donec feugiat ut quam eget ultrices. Donec velit justo, tincidunt id metus sed, laoreet fermentum metus. Suspendisse potenti. Vivamus fringilla luctus euismod. Donec efficitur venenatis lobortis. Sed placerat cursus nibh, sed tincidunt risus maximus facilisis. Morbi in sem purus. Donec imperdiet, lectus vitae volutpat tincidunt, mi lectus pellentesque ante, ut eleifend lacus diam sed nulla. Ut imperdiet sed ante non laoreet. Proin ut sapien consectetur, lacinia felis vel, vehicula dolor.

    Etiam volutpat varius lectus vel ultrices. Praesent commodo feugiat feugiat. Etiam luctus viverra turpis, et pellentesque leo faucibus tempus. Pellentesque a magna sit amet tortor elementum elementum et ac nisi. Aliquam et elit neque. Suspendisse elementum in ex vel vestibulum. Curabitur et erat rutrum, commodo dolor ac, facilisis ante. Nam ligula quam, tempor vitae mauris eget, molestie ultricies massa. Duis aliquam fermentum congue. In hac habitasse platea dictumst.

    Donec tellus magna, bibendum vitae fermentum non, varius a lorem. Nullam vehicula molestie sodales. Pellentesque interdum arcu vel augue tristique, non gravida turpis venenatis. Phasellus sodales elit quis ipsum mattis, a commodo lacus porttitor. Suspendisse auctor enim vel efficitur dapibus. Morbi in tincidunt neque, vel suscipit justo. Morbi ac nisl ligula.

    Curabitur fringilla, arcu a scelerisque maximus, sapien lectus ornare purus, at congue nisi risus vel nibh. Donec tortor nulla, ultricies mollis turpis id, euismod tristique lorem. Cras et tortor in felis tincidunt tristique. Proin tincidunt ultricies nunc. Morbi posuere interdum elit, et viverra arcu viverra nec. Aenean lobortis non dui non molestie. Sed id mattis libero, vel luctus tortor. Donec at aliquam ipsum. Etiam condimentum et enim eu aliquet.

    Aliquam sit amet gravida nulla. Nunc neque erat, finibus at ante eget, tincidunt pharetra metus. Vivamus condimentum dui neque, sed vestibulum elit pellentesque eget. Vivamus vel pharetra orci. Ut eleifend blandit magna non suscipit. Aenean quis laoreet lacus, quis sodales dui. Maecenas lorem elit, dapibus quis tincidunt hendrerit, commodo non velit. Donec purus eros, vestibulum sed dolor sed, rutrum vulputate lacus. Etiam vel posuere ligula, ut suscipit velit. Pellentesque posuere, tortor vel ultrices sodales, metus nisi euismod arcu, sed maximus libero purus a dui. Nullam quis eros in dui auctor vulputate. Donec maximus ac turpis vitae iaculis. Etiam commodo venenatis libero ac tristique. Ut sodales sem ut augue vestibulum, at viverra urna efficitur. Proin pulvinar, diam quis vestibulum facilisis, ligula odio ultricies ligula, quis tempor tellus mi in lacus.
    </p>
</div>
