<div *ngIf="machine;else no_machine">
    <h4>
        Machine : {{machine.id}}
    </h4>
    <label for="location">Name: </label>
    <input id="name" [(ngModel)]="machine.name">
    <label for="name">Location: </label>
    <input id="location" [(ngModel)]="machine.location">
    <label for="dispenserAmount">Dispenser amount: </label>
    <input id="dispenserAmount" [(ngModel)]="machine.dispenserAmount">
    <label for="dispenserDepth">Dispenser depth: </label>
    <input id="dispenserDepth" [(ngModel)]="machine.dispenserDepth" >

    <button type="button" (click)="save()">save</button>
</div>
<ng-template #no_machine>
    Can't find machine
</ng-template>
