<app-navbar-owner/>

<div class="container">
    <button class="btn btn-success" routerLink="/machines/add">Add new machine</button>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">location</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let machine of machines">
            <td>{{machine.id}}</td>
            <td>{{machine.location}}</td>
            <td>{{machine.name}}</td>
            <td [ngClass]="
            {'bg-danger': machine.status<=10,
            'bg-warning': machine.status<=50 && machine.status>10}">
                {{machine.status}}%
            </td>
            <td class="">
                <button class="btn btn-info m-1" routerLink="/machines/{{machine.id}}">Info</button>
                <button class="btn btn-success m-1" routerLink="refill/{{machine.id}}">Refill</button>
                <button class="btn btn-warning m-1" routerLink="/machines/update/{{machine.id}}">Update</button>
                <button class="btn btn-danger m-1" (click)="deleteMachine(machine)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>


</div>

