<nav class="navbar navbar-expand-sm">

    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/machines">Vending Machines Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" routerLink="/machines">Machines</a>
            <a class="nav-link disabled" >Financial raports</a>
            <a class="nav-link disabled" >Warehouse</a>
            <a class="nav-link disabled">Employees</a>
            <a class="nav-link" routerLink="">Logout</a>
          </div>
        </div>
    </div>
</nav>


  <a routerLink="add">
  <button class="btn btn-success">Add new machine</button>
  </a>

  <div class="container" style="max-width: 750px;">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">location</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let machine of machines">
          <td>{{machine.id}}</td>
          <td>{{machine.location}}</td>
          <td>{{machine.name}}</td>
          <td>to do</td>
          <td class="">
              <button class="btn btn-info m-1">Info</button>
              <button class="btn btn-success m-1">Refill</button>
              <button class="btn btn-warning m-1">Update</button>
              <button class="btn btn-danger m-1">Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>

