<nav class="navbar navbar-expand-sm">

    <div class="container-fluid mb-3">
        <a class="navbar-brand" routerLink="/machines">Vending Machines Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#about_us">About us</a>
            <a class="nav-link disabled" >Contact</a>
            <a class="nav-link disabled" >Carrier</a>
            <a class="nav-link" routerLink="login">Log in</a>
          </div>
        </div>
    </div>
  </nav>